.tabs
    .indicator
        background-color: #0c796b
        height: 3px

    .tab
        &:nth-child(5)
            & > a
                border-right: none !important

        & > a
            border-right: 1px solid #dadada

            &.active
                background-color: #f0f0f0 !important

.collapsible-body
    .spinner
        text-align: center

        img
            max-height: 60px
            width: auto

.upload-image
    opacity: .6
    transition: opacity 200ms
    cursor: pointer

    &:hover
        opacity: 1

td, th
    padding: 5px

.lazy-loader
    opacity: 0
    transition: opacity 777ms