*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

.container {
    max-width: 1000px;
    text-align: center;
    padding: 10px 8px;
    margin: auto;
}

form {
    display: inline-block;
}

button {
    background: #447e80;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 8px 32px;
    font-size: 19px;
    box-shadow: 2px 2px 4px #bbbaba;
    cursor: pointer;
    margin-top: 20px;
}

.message {
    padding: 1px 18px;
    border-left: 5px solid #447e80;
    display: inline-block;
    border-radius: 0px 3px 3px 0;
    margin-top: 30px;
    background-color: #f4fffa;
}

.input-field input[type=password] {
    width: 90%;
    border: 1px solid #447e80;
    padding: 7px 9px;
    border-radius: 3px;
    margin-top: 35px;
}

/* Upload file input */
.input-field {
    position: relative;
    width: 300px;
    height: 73px;
}

.input-upload-label:after {
    width: 90%;
    height: 60px;
    position: absolute;
    top: 35px;
    content: attr(data-title);
    padding: 19px 0;
    text-align: center;
    border-radius: 5px;
    border: 3px dashed #02686f;
    color: #02686f;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: color 200ms, border-color 200ms;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 15px;
}

.input-upload-label input#input-file,
.input-upload-label input#input-file {
    width: 0;
    height: 0;
}

.input-upload-label:hover:after {
    border-color: #333;
    color: #333;
}

.input-upload-file-path {
    position: absolute;
    bottom: -20px;
    left: 5px;
    color: #02686f;
}
